{
    "extends": "google",
    "installedESLint": true,
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true
    },
    "rules": {
        "no-unused-vars": "off",
        "one-var": "off",
        "space-before-function-paren": "off"
    }
}