<!DOCTYPE html>
<html>
<head>
	<title>{{title}} - Code Camp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/handlebars.js/4.0.6/handlebars.min.js"></script>
	<script src="//cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>
	<script src="/js/main.js"></script> 
  {{>header}} 
  {{{body}}} 
  {{>footer}}
</body>
</html>