html, body, div, span, a, li, td, th {
    font-family: '微软雅黑', 'Lato', sans-serif;
}

a{
    font-weight: bold;
    cursor: hand;
    text-decoration:none;
}

.container {
    min-height: 800px;
}

.center-block {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.map-accordion {
    width:700px;
    margin:0 auto;
    position: relative;
}

.map-accordion h2 > a {
    width:100%;
    display: block;
    background-color: #efefef;
    padding:10px 0;
    padding-left: 50px;
    padding-right: 20px;
}

.map-accordion h3 > a {
    padding-left: 60px;
    padding-bottom: 10px;
    display: block;
    max-width: 535px;
}

.map-accordion div > div:last-child {
    margin-bottom: 30px;
}

.map-accordion div.chapterBlock p{
    text-indent: -15px;
    margin-left: 120px;
    padding-right: 20px;
}

.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}

.editorScrollDiv {
    overflow-y: auto;
    overflow-x:hidden;
    height: 600px;
}

mainEditorPanel{
    height:100%;
    weight:99%;
}

.preview{
    overflow-y: auto;
    overflow-x:hidden;
    height: 600px;
}

iframe.iphone {
    width: 280px;
    height: 600px;
    position: absolute;
    top: 45px;
    right: 35px;
    overflow-y: scroll;
}

.scroll-locker {
    overflow-x: hidden;
    overflow-y: auto;
}

.button-spacer {
    padding: 5px 0;
}
