<footer>
	<div class="container-fluid" style="background-color:#e7e7e7;height:300px;padding-top:100px">
		<div class="text-center">
			<address>
				<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
				<abbr title="Phone">P:</abbr> (123) 456-7890
			</address>

			<address>
				<strong>Full Name</strong><br>
				<a href="mailto:#">xuzhengwei.amor@gmail.com</a>
			</address>
		</div>
	</div>
</footer>