<footer>
	<div class="container-fluid footer">
		<div class="text-center">
			<address>
				<strong>江汉大学</strong><br>数学与计算机科学学院<br>
				<abbr title="Phone">毕业设计：</abbr>在线编程平台的设计与实现
			</address>

			<address>
				<strong>徐正威</strong><br>
				<a href="mailto:#">xuzhengwei.amor@gmail.com</a>
			</address>
		</div>
	</div>
</footer>
