<div>
    <div class="row">
        <div class="col-xs-2 text-center">
            <i class="glyphicon glyphicon-remove"></i>
        </div>
        <div class="col-xs-10 test-output">
        </div>
        <div class="ten-pixel-break"></div>
    </div>
</div>
