{
  "extends": "google",
  "installedESLint": true,
  "parserOptions": {
    "ecmaVersion": 5
  },
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": "off",
    "no-var": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "one-var": "off",
    "space-before-function-paren": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off"
  }
}
